%dl.rbbt_menu
  - if user.nil?
    %dt
      %a(href='/login') Login
  - else
    %dt.next= user
    %dd
      %a(href='/login') Change user

  %dt.next jobs
  %dd
    %ul.jobs

  - if defined? Sinatra::RbbtRESTWorkflow and Sinatra::RbbtRESTWorkflow::WORKFLOWS
    - expoted_workflows = Sinatra::RbbtRESTWorkflow::WORKFLOWS.collect do |workflow|
      - next if workflow.asynchronous_exports.empty? and workflow.synchronous_exports.empty? and workflow.exec_exports.empty?
      - workflow

    - expoted_workflows.compact!
    - if expoted_workflows.any?
      %dt.next Workflows
      %dd.workflows
        %dl.rbbt_vertical_menu
          - expoted_workflows.each do |workflow|
            %dt.next
              = workflow.to_s
            %dd
              %p= workflow.documentation[:description].split(/\n\n/).first if workflow.documentation[:description]

              %ul
                - tasks = workflow.exec_exports + workflow.synchronous_exports + workflow.asynchronous_exports

                - tasks.sort.each do |task|
                  %li
                    %a(href="#{File.join("/", workflow.to_s, task.to_s)}")= task
                    - info = workflow.task_info(task)
                    - if info[:description]
                      = info[:description].split(/\n\s*\n/).first
  %dt
    %a(href='/help') Help
