- id = [workflow.to_s, task.to_s] * "__"
- action = File.join('/', workflow.to_s, task.to_s)
- task_info = workflow.task_info(task)

.workflow_task(id=id)
  .title
    %h3
      %a(href="/#{workflow.to_s}")= workflow
      &mdash;
      =Misc.humanize task
  .description
    - if task_info[:description]
      %p.task_description
        :markdown
          #{task_info[:description]}

  .form.action_parameters.ui.segment
    = partial_render('partials/form', :id => id, :action => action, :method => 'post', 
      :enctype => "multipart/form-data", :info => task_info, :klass => 'workflow_task')

  - if workflow.libdir.examples[task.to_s].exists?
    .examples
      :javascript
        example_inputs = [];

      Click to load example data:
        
      %ul.ui.buttons
        - workflow.libdir.examples[task.to_s].glob('*').each do |example_dir|
          - name = File.basename(example_dir)
          - task_info = workflow.task_info task
          - inputs = Workflow.load_inputs(example_dir, task_info[:inputs], task_info[:input_types])
          - inputs.each{ |k,v| v.replace Open.read(v) if String === v and File.exists? v }
          :javascript
            example_inputs["#{ name }"] = #{inputs.to_json}
          %li.ui.button
            %a.load_example(href="#" task=task name=name)= name

      :javascript
        defer(function(){
          var form = $('.workflow_task[id=#{id}] > .form > form')

          $("a.load_example").click(function(){
            var link = $(this);
            var name = $(link).attr('name');
            var inputs = example_inputs[name];
            form[0].reset()

            for (var input in inputs){
              var value = inputs[input]
              var input = form.find('[name=' + input + ']')
              if (input.is('[type=checkbox]')){
                input.prop('checked', value)
              }else{
                input.val(value)
              }
            }
            form.find('[name=jobname]').val(name)
            return false
          })
        })
