!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

- $zepto = false

%head
  %meta{ :charset => "utf-8" }/

  %meta(name="viewport" content="width=device-width, initial-scale=1.0")

  %link{:rel => "icon", :type => "image/gif", :href => "/favicon.gif"}/

  %title= $title || "Genome Scout"
  - record_css '/stylesheets/app'

  - record_css '/plugins/zurb-icons/foundation_icons_general/stylesheets/general_foundicons.css'


  - if $zepto
    - record_js "/js/zepto"
    - record_js '/js/deffer'
    = serve_js false
  - else
    - record_js '/js/deffer'
    = serve_js
    - %w(jquery-2.0.0 jquery.cookie jquery.form).each do |jquery_file|
      - record_js File.join('/plugins/jquery/js/', jquery_file)


  -# %w(foundation foundation.alerts foundation.cookie foundation.forms foundation.reveal foundation.tooltips foundation.clearing foundation.dropdown foundation.joyride foundation.magellan foundation.placeholder foundation.section foundation.topbar custom.modernizr).each do |file|
  - %w(foundation foundation.cookie foundation.reveal foundation.dropdown foundation.section foundation.topbar custom.modernizr).each do |file|
    - record_js "/js/#{ file }"

  - record_js '/plugins/jquery.tablesorter/jquery.tablesorter'
  - record_js '/plugins/jquery.scrollTo/jquery.scrollTo'

  - %w(_foundation _md5 _fix_tablesorter_science helpers _ajax_replace _dom_update _ellipsis entities favourites offcanvas actions lists tables tabs base workflow app).each do |file|
    - record_js "/js/#{ file }"


  = serve_css

%body

  #header
    = partial_render('layout/header')

  #body
    - $wait = false
    = yield

  %footer
    CNIO

  #coda
    = serve_js
    - if $wait
      :javascript
        var url = window.location.toString();

        function reload(){

          $.ajax({url: add_parameters(url, '_layout=false'), cache:false, 
          success: function(data, stat, req){
            if (req.status == 202){
              $('#body').html(data)
              window.setTimeout(reload, 7000);
            }else{
              window.location = url;
            }
          },

          error:function(jqXHR, status, thrownError){
            if (undefined === jqXHR.responseText || jqXHR.responseText == ''){
              $('#body').html('No response. Server down?')
            }else{
              $('#body').html(jqXHR.responseText)
            }
          }})
        }

        window.setTimeout(reload, 7000);
   

  #modal1.reveal-modal
  #modal2.reveal-modal

