.workflow.tasks
  %h1= workflow.to_s

  - unless workflow.documentation[:title].empty?
    :markdown 
      #{workflow.documentation[:title]}
  - unless workflow.documentation[:description].empty?
    :markdown 
      #{workflow.documentation[:description]}


  %h3 Tasks

  - unless workflow.documentation[:task_description].empty?
    :markdown 
      #{workflow.documentation[:task_description]}

  %ul.tasks.clean_list
    - tasks = workflow.all_exports

    - tasks.sort.each do |task|
      %li
        %a(href="#{File.join("/", workflow.to_s, task.to_s)}")= task
        - if workflow.tasks[task].description
          %span= workflow.tasks[task].description.split(/\n\s*\n/).first

