- entity_list_card = EntityListCard.new list, list_id

- action_controller = ActionController.new(list, list_id)
- find_all_entity_list_action_templates(list).each do |action|
  - action_controller.add action, action, :reuse => true


-# action_controller.add :mutation_details, "Details", :reuse => true
-# action_controller.add :change_statistics, "Changes", :reuse => true
-# action_controller.add :extended_change_statistics, "Extended changes", :reuse => true
-# action_controller.add :enrichment, "Enrichment", :reuse => true
-# action_controller.add :rainfall_plot, "Rainfall", :reuse => true

- entity_list_card.action_controller = action_controller

- entity_list_card.description do
  %p== #{list.length} mutations.
  = fragment do
    - list_container = ListContainer.new
    - list_container.add "Overlapping #{ list_id }", list.genes.compact.flatten.uniq, "Overlapping genes"
    - list_container.add "Affected by #{list_id}", list.affected_genes.compact.flatten.uniq, "Affected genes"
    - list_container.add "Damaged by #{list_id}", list.damaged_genes.compact.flatten.uniq, "Damaged genes"
    = partial_render('entity_partials/list_container', :container =>  list_container)

= entity_list_card_render entity_list_card


