
- id = "tab_menu_"  + rand(1000).to_s unless defined? id and not id.nil?
- active = false unless defined? active and not active.nil?
- active = headers.first if TrueClass === active
.tabs(id=id)
  .ui.top.attached.tabular.stackable.menu
    - headers.each do |header|
      - code = codes[header] ||= Misc.digest([header, id]*"-")
      - tab_active = (active and active == header) ? 'active' : ''
      .ui.item(data-tab=code class=tab_active)= header

  - headers.each do |header|
    - code = codes[header] 
    - next if content[header].nil?
    - tab_active = (active and active == header) ? 'active' : ''
    .ui.tab.bottom.attached.segment.content(data-tab=code class=tab_active)
      = content[header]

:deferjs
  //$("##{id} > .item[data-tab]").tab()

  $("##{id} > .menu > .item[data-tab]").tab({"context": "##{id}"})

  $('##{id} > .menu > .item[data-tab=close]').click(function(item){
    var tool = $(this).parents('.cytoscape_tool').first()
    tool.find('.tab.active, .item.active').removeClass('active')
    return false
  })

