- action_card = ActionCard.new 

- action_card.require :gene do
  = action_parameters do
    - input :gene, :string, "Ensembl Gene ID"

= action_card_render action_card do
  .mutations
    - organism = entity.metadata[:organism]
    - genes = Gene.setup(Translation.job(:translate, gene, :genes => [gene], :organism =>organism).run, "Ensembl Gene ID", organism)
    - gene = genes.first

    %h3 Mutations
    - mutations = entity.mutations_over_gene(gene)
    - GenomicMutation.setup(mutations, "Mutations over #{gene.name} in #{ entity }", organism, true)
    = mutations.list_link :length, "Mutations over #{ gene.name || gene } in #{ entity }"

    %h3 Samples
    - samples = Sample.setup(entity.samples_with_gene_affected[gene].uniq, entity)
    = samples.list_link :length, "Samples with mutations over #{ gene.name || gene } in #{ entity }"
    

