- values = index[pair] 

- source = pair.source_entity
- target = pair.target_entity
- source_name = source.respond_to?(:name) ? source.name || name : source
- target_name = target.respond_to?(:name) ? target.name || name : target
- name = [source_name, target_name] * "~"
- kb_name = File.basename pair.knowledge_base.dir

%h3== #{name} in #{pair.database} #{kb_name}

- fields = index.fields
- if fields.any?
  - tsv = TSV.setup({}, :key_field => "Num", :fields => fields, :type => :list)
  - values.zip(fields).each_with_index do |p,i|
    - value, field = p
    - value.split(";;").each_with_index do |part,j|
      - tsv[j] ||= [nil] * fields.length
      - tsv[j][i] = part 
  - tsv.entity_options = kb.entity_options
  - tsv.namespace = kb.namespace

  - if tsv.fields.include? "PMID"
    - tsv.add_field "Title" do |k,v|
      - v["PMID"].title

  = tsv2html(tsv, :table_id => "#{pair} in #{pair.database} #{kb_name}")

- else
  No information for this association: #{pair}
