- authorize!
- studies = user_studies[user]

.section
  = table(:list_links => true, :table_id => "mutations_in_#{entity.name || entity}") do
    - tsv = TSV.setup({}, :key_field => "Study", :fields => ["Genomic Mutation"], :type => :flat)
    - studies.each do |study|
      - tsv[study] = study.all_mutations.select_by(:genes){|genes| genes.include? entity }
    - tsv

-#.section
  = action_parameters do
    - input :study, :select, "Study", nil, :select_options => studies
   
  - if defined? study
    - Study.setup(study)
    = fragment study.action_link("gene_in_study", "#{ entity } in #{ study }", :gene => entity)
  - else
    %p
      Select study using the action parameter controls
