.action_card
  .title
    .name
      - case page_type
      - when 'entity_action'
        = @entity.respond_to?(:name) ? @entity.name || @entity : @entity
      - when 'entity_list_action'
        = page_entity_list
    .long_name
      = page_action

  - if card.action_parameters
    = action_parameters &card.action_parameters

  - exception_html = nil
  - card.requires.each do |input|
    - if Array === input
      - inputs, input_block = input
      - if inputs.select{|input| @params[input.to_s].nil? }.any?
        - exception_html = capture_haml  &input_block
        - break

    - else
      - if @params[input.to_s].nil?
        - exception_html = capture_haml do
          %p Please configure the parameters to execute the action
        - break

  .action_content

    - if exception_html
      = exception_html
    - else
      = capture_haml &block

