%dl.list_container
  - container.lists.each do |id, list, text, options|
    %section.section.accordion(data-section)
      - if Proc === list
        = fragment do
          - list = list.call
          %dt
            = list.list_link :length, id
            %span.title
              = text || id 
          %dd.content
            %p
              - if (defined? force and force) or list.length < 500
                = list.link * ", "
              - else
                = modal_fragment "Too many entities to list" do
                  = list.link * ", "
      - else
        %dt
          = list.list_link :length, id
          %span.title
            = text || id 
        %dd.content
          %p
            - if (defined? force and force) or list.length < 500
              = list.link * ", "
            - else
              = modal_fragment "Too many entities to list" do
                = list.link * ", "
