
%ul.accordion
  - container.lists.each do |id, list, text, options|
    - if Proc === list
      = fragment do
        - list = list.call 
        %li
          .title
            = id 
            = list.list_link :length, id
          .content
            - if (defined? force and force) or list.length < 500
              = list.link * ", "
            - else
              %p To many entities to list
    - else
      %li
        .title
          = id 
          = list.list_link :length, id
        .content
          = list.link * ", "
