
%li.divider
  
%li#top-favourites.has-dropdown
  %a(href="#") Fav. Entities
 
  %ul.favourite_entities.dropdown
    - favourite_entities.each do |type, entities|
      %li.type.has-dropdown(entity_type=type)
        %a(href="#")= type
        %ul.dropdown
          - entities.each do |entity|
            %li
              = entity.link
              
%li.divider
  
%li#top-favourite_lists.has-dropdown
  %a(href="#") Fav. Entity Lists
 
  %ul.favourite_entity_lists.dropdown
    - favourite_entity_lists.each do |type, lists|
      %li.type.has-dropdown(entity_type=type)
        %a(href="#")= type
        %ul.dropdown
          - lists.each do |list_id|
            %li
              %a(href="#{Entity::REST.entity_list_url(list_id, type)}")= list_id

%li#top-favourite_lists.has-dropdown
  %a(href="#") New Entity List
  %ul.new_entity_list.dropdown
    - Entity::REST::REST_ENTITIES.each do |mod|
      %li
        %a.new_list(href="#" data-reveal-id='modal1')= mod.to_s
      
