
%li#top-favourites.has-dropdown
  %a(href="#") Fav. Entities
 
  %ul.favourite_entities.dropdown
    - favourite_entities.each do |type, entities|
      %li.type.has-dropdown(entity_type=type)
        %a(href="#")= type
        %ul.dropdown
          - entities.each do |entity|
            %li
              = entity.link
              
%li#top-favourite_lists.has-dropdown
  %a(href="#") Fav. Entity Lists
 
  %ul.favourite_entity_lists.dropdown
    - favourite_entity_lists.each do |type, lists|
      %li.type.has-dropdown(entity_type=type)
        %a(href="#")= type
        %ul.dropdown
          - lists.each do |list_id|
            %li
              %a(href="#{Entity::REST.entity_list_url(list_id, type)}")= list_id
              
%li#top-favourite_maps.has-dropdown
  %a(href="#") Fav. Entity Maps
 
  %ul.favourite_entity_maps.dropdown
    - favourite_entity_maps.each do |type, columns|
      - columns.each do |column, maps|
        %li.type.has-dropdown(entity_type=type entity_column=column)
          %a(href="#")= [type, column] * " - "
          %ul.dropdown
            - maps.each do |map_id|
              %li
                %a(href="#{Entity::REST.entity_map_url(map_id, type, column)}")= map_id


%li#top-favourite_lists.has-dropdown
  %a(href="#") New Entity List
  %ul.new_entity_list.dropdown
    - Entity::REST::REST_ENTITIES.each do |mod|
      %li
        %a.new_list(href="#" data-reveal-id='modal1')= mod.to_s
      
