%meta{ :charset => "utf-8" }/

%meta(name="viewport" content="width=device-width, initial-scale=1.0")

%link{:rel => "icon", :type => "image/gif", :href => "/favicon.gif"}/

%title= @title || $title

// Semantic-ui


- record_css '/plugins/semantic-ui/dist/semantic.min.css'
- record_css '/plugins/nvd3/css/nv.d3.css'
-# record_css '/plugins/jquery-ui/css/custom-theme/jquery-ui-1.8.14.custom.css'
- record_css '/stylesheets/app'
= serve_css

// Third party frameworks

:javascript
  var user = #{user ? '"' + user + '"' : '"none"'}
  var main_url = window.location.toString();
  var production = #{production? ? "true" : "false"};

- record_js '/js/helpers/defer'
- record_js "/plugins/mithril/js/mithril.js"
-# record_js "/plugins/requirejs/js/require.js"
= serve_js
-#:javascript
  requirejs.config({baseUrl: '/js-find'})


-# Cookies
- record_js '/plugins/js-cookie/js/js.cookie.js'

-# JQUERY JS
-# %w(jquery-2.1.1 jquery.cookie jquery.form).each do |jquery_file|
- %w(jquery-3.1.1 jquery.form).each do |jquery_file|
  - record_js File.join('/plugins/jquery/js/', jquery_file)

- record_js '/plugins/jquery-ui/js/jquery-ui-1.8.14.custom.min.js'
- record_js '/plugins/jquery.tablesorter/jquery.tablesorter.min.js'
- record_js '/plugins/jquery.scrollTo/jquery.scrollTo'

-# SEMANTIC UI JS
- record_js '/plugins/semantic-ui/dist/semantic.min.js'

-# OTHER
- record_js '/plugins/FileSaver/js/FileSaver.js'

-# VISUALIZATION JS
- record_js '/plugins/color-js/color.js'
- record_js '/plugins/d3js/js/d3.v3.min.js'
- record_js '/plugins/nvd3/js/nv.d3.js'
- record_js '/plugins/svg-pan-zoom/js/svg-pan-zoom.js'
- record_js '/plugins/cola/js/cola.js'
- record_js '/plugins/mithril-node-render/js/index.js'

- %w(helpers _md5 _ajax_replace _ellipsis).each do |file|
  - record_js "/js-find/helpers/#{ file }"

-# %w(dom_update workflow fragment menu favourites page_type modal reveal actions table list map hide).each do |file|
- %w(dom_update fragment actions table list map reveal).each do |file|
  - record_js "/js-find/rbbt/#{ file }"

- %w(rbbt rbbt.basic rbbt.exception rbbt.job rbbt.page rbbt.entity.basic rbbt.entity rbbt.entity_list rbbt.entity_map rbbt.views rbbt.documentation rbbt.favourites rbbt.modal).each do |file|
  - record_js "/js-find/#{ file }"

- %w(rbbt.knowledge_base).each do |file|
  - record_js "/js-find/#{ file }"

- %w(rbbt.plots.basic rbbt.plots.aes rbbt.plots.graph rbbt.plots.graph.kb rbbt.plots.graph.mithril rbbt.plots.graph.adapters rbbt.plots.graph.model rbbt.plots.aesthetics rbbt.plots.list).each do |file|
  - record_js "/js-find/rbbt.plots/#{ file }"

- record_js "/js-find/app"
