#top_menu.ui.fixed.menu
  .item.title
    %a.header(href='/')= $title


  %span.favourite

  - if settings.respond_to?(:finder) and settings.finder and settings.finder.instances.any?
    .finder.right.item
      %form.collapse(action='/find' method="POST")
        %input(type="search" name="term" placeholder='Search')

  #aesthetics.item
  - if defined? Sinatra::RbbtRESTWorkflow and Sinatra::RbbtRESTWorkflow::WORKFLOWS
    - expoted_workflows = Sinatra::RbbtRESTWorkflow::WORKFLOWS.collect do |workflow|
      - next if workflow.asynchronous_exports.empty? and workflow.synchronous_exports.empty? and workflow.exec_exports.empty?
      - workflow

    - expoted_workflows.compact!
    - if expoted_workflows.any?
      .workflow.ui.simple.dropdown.item.right
        %i.icon.dropdown
        Workflows
        .menu
          - expoted_workflows.each do |workflow|
            %a.item(href='#{'/' + workflow.to_s}')
              - if production?
                = workflow.to_s
              - else
                %i.icon.repeat.reload_workflow(attr-workflow=workflow)
                = workflow.to_s

  %a.item.login.right(href='/login')
    %i.icon.user
    - if user
      = user

  %a.item.right(href='/help') Help

  %a.item.right.reload(href='#')
    %i.icon.repeat

