.ui.buttons.job_control
  %a.ui.small.basic.red.button(href="/#{[workflow.to_s, task, jobname] * "/"}?_update=clean") clean job
  %a.ui.small.basic.blue.button(href="/#{[workflow.to_s, task, jobname, "info"] * "/"}") job info
  - if job.files.any?
    %a.ui.small.basic.blue.button(href="/#{[workflow.to_s, task, jobname, "files"] * "/"}") job files
  %a.ui.small.basic.blue.button(href="/#{[workflow.to_s, task, jobname] * "/"}?_format=raw") get raw result file

-#
  - files = job.files 
  - files.reject!{|f| File.basename(File.dirname(f)) == ".html"}

  - if files.any?
    %dt.ui.header Files
    %dd.job_files.ui.basic.segment
      - files_by_dir = {}
      - files.each do |file|
        - dir = File.dirname(file)
        - files_by_dir[dir] ||= []
        - files_by_dir[dir]  << file
      .ui.buttons
        - (files_by_dir["."] || []).sort.each do |file|
          %a.small.ui.button(href="/#{[workflow.to_s, task, jobname, "file", file] * "/"}")= file
      - (files_by_dir.keys - ["."]).each do |dir|
        %dl
          %dt.ui.header #{dir}/
          %dd
            .ui.buttons
              - files_by_dir[dir].each do |file|
                %a.small.ui.button(href="/#{[workflow.to_s, task, jobname, "file", file] * "/"}")= File.basename(file)
             
