- entity_card = EntityCard.new(entity)
- entity_card.name = "GenomicMutation"
- entity_card.long_name = entity
- entity_card.description do
  - mutated_isoforms = entity.mutated_isoforms || []
  - synonymous = mutated_isoforms.select{|mi| mi.synonymous}
  - non_synonymous = mutated_isoforms.select{|mi| mi.non_synonymous}
  - damaging = mutated_isoforms.select{|mi| mi.damaged?}

  %dl.indented

    %dt Damaging protein substitutions
    %dd
      - if damaging.empty?
        None
      - else
        %ul.clean
          - damaging.each do |mi|
            %li= mi.link

    %dt Non-Synonymous protein substitutions
    %dd
      - if non_synonymous.empty?
        None
      - else
        %ul.clean
          - non_synonymous.each do |mi|
            %li= mi.link

    %dt Synonymous protein substitutions
    %dd
      - if synonymous.empty?
        None
      - else
        %ul.clean
          - synonymous.each do |mi|
            %li= mi.link




- entity_card.meta do

  %dl

    %dt Ensembl
    %dd
      %a(href="#{entity.ensembl_browser}") Browser

    %dt Chromosome
    %dd= entity.chromosome

    %dt Reference Allele
    %dd= entity.reference

    %dt Mutant Allele
    %dd= entity.base

    %dt Overlapping genes
    %dd= (entity.genes.nil? or entity.genes.empty?) ?  "" : entity.genes.link * ", "

    %dt Damaging
    %dd
      = fragment do
        = entity.damaging?

    %dt Worst Consequence
    %dd
      = fragment do
        - wi = entity.worst_consequence
        - if wi
          = wi.link
        - else
          None


-# entity_card.description do
  
  

= entity_card_render entity_card
