- entity_card = EntityCard.new(entity)
- entity_card.name = entity
- entity_card.long_name = entity.study
- entity_card.description do
  = fragment do
    - sample = entity
    - list_container = ListContainer.new
    - list_container.add "Mutations", sample.mutations, "All mutations in #{ entity }"
    - list_container.add "Affected genes", sample.affected_genes, "Affected genes in #{ entity }"
    - if sample.has_cnvs?
      - list_container.add "CNV regions", sample.cnvs , "CNV regions in #{ entity }"
      - list_container.add "Gained genes", sample.gained_genes, "Genes gained in #{ entity }"
      - list_container.add "Lost genes", sample.lost_genes, "Genes lost in #{ entity }"

    = partial_render('entity_partials/list_container', :container =>  list_container)
 
= entity_card_render entity_card
